In [6]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./NYCTaxiFares_small.csv')

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-04-19 08:17:56 UTC,6.5,0,-73.992365,40.730521,-73.975499,40.744746,1
1,2010-04-17 15:43:53 UTC,6.9,0,-73.990078,40.740558,-73.974232,40.744114,1
2,2010-04-17 11:23:26 UTC,10.1,1,-73.994149,40.751118,-73.960064,40.766235,2
3,2010-04-11 21:25:03 UTC,8.9,0,-73.990485,40.756422,-73.971205,40.748192,1
4,2010-04-17 02:19:01 UTC,19.7,1,-73.990976,40.734202,-73.905956,40.743115,1
...,...,...,...,...,...,...,...,...
119995,2010-04-18 14:33:03 UTC,15.3,1,-73.955857,40.784590,-73.981941,40.736789,1
119996,2010-04-23 10:27:48 UTC,15.3,1,-73.996329,40.772727,-74.049890,40.740413,1
119997,2010-04-18 18:50:40 UTC,12.5,1,-73.988574,40.749772,-74.011541,40.707799,3
119998,2010-04-13 08:14:44 UTC,4.9,0,-74.004449,40.724529,-73.992697,40.730765,1
119999,2010-04-17 16:00:14 UTC,5.3,0,-73.955415,40.771920,-73.967623,40.763015,3

In [23]:
def haversine_distance(df, lat1, long1, lat2, long2):  # dataframe, pickup point lat / long, dropoff point lat / long
    """
    Calculates the haversine distance between 2 sets of GPS coordinates in df
    """
    r = 6371  # average radius of Earth in kilometers

    phi1 = np.radians(df[lat1])
    phi2 = np.radians(df[lat2])

    delta_phi = np.radians(df[lat2] - df[lat1])
    delta_lambda = np.radians(df[long2] - df[long1])

    a = np.sin(delta_phi / 2.0) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    d = (r * c)  # in kilometers

    return d
df['dist_km'] = haversine_distance(df, 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude')
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# JFK 40.645042, -73.786928
# NEWARK 40.691547, -74.180202
# LAGUARDIA 40.773281, -73.869845

# if the dropoff lat/long or the pickup lat/long is within



# take daylight saving into account

In [24]:
airport_coords = [
    {'lat': 40.645042, 'long': -73.786928}, #JFK
    {'lat': 40.691547, 'long': -74.180202}, #NEWARK
    {'lat': 40.773281, 'long': -73.869845}, #LAGUARDI
]

def is_by_airport(df, lat1, long1, lat2, long2):
    for i in range(airport_coords):
        pass
    # we want the

    return 0

df['is_airport'] = is_by_airport(df, 'pickup_latitude', '')

[{'lat': 40.645042, 'long': -73.786928}, {'lat': 40.691547, 'long': -74.180202}, {'lat': 40.773281, 'long': -73.869845}]

In [22]:
my_time = df['pickup_datetime'][0]
df.sort_values(by=['dist_km'], ascending=False)

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dist_km,is_airport,EDTdate,Hour,AMorPM,Weekday
8614,2010-04-23 18:39:28+00:00,17.70,1,-74.082477,40.953079,-73.962517,40.710054,2,28.846365,0.0,2010-04-23 14:39:28+00:00,14,pm,Fri
29074,2010-04-12 12:06:38+00:00,49.57,1,-73.776842,40.646087,-73.929099,40.864615,2,27.475873,0.0,2010-04-12 08:06:38+00:00,8,am,Mon
108382,2010-04-23 22:30:00+00:00,43.30,1,-73.789577,40.646785,-73.876752,40.880233,1,26.976530,0.0,2010-04-23 18:30:00+00:00,18,pm,Fri
20377,2010-04-17 00:55:50+00:00,49.57,1,-73.782035,40.644719,-73.937501,40.856147,3,26.911161,0.0,2010-04-16 20:55:50+00:00,20,pm,Fri
118513,2010-04-18 20:20:26+00:00,49.07,1,-73.776679,40.645333,-73.880365,40.873021,1,26.781598,0.0,2010-04-18 16:20:26+00:00,16,pm,Sun
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110814,2010-04-19 15:02:23+00:00,49.57,1,-73.987674,40.750297,-73.987797,40.750311,1,0.010477,0.0,2010-04-19 11:02:23+00:00,11,am,Mon
109630,2010-04-24 07:01:00+00:00,48.00,1,-74.015023,40.785000,-74.015125,40.785052,1,0.010353,0.0,2010-04-24 03:01:00+00:00,3,am,Sat
9882,2010-04-13 07:12:38+00:00,2.90,0,-73.902083,40.764092,-73.902159,40.764020,1,0.010250,0.0,2010-04-13 03:12:38+00:00,3,am,Tue
62056,2010-04-14 10:56:47+00:00,14.00,1,-73.993123,40.736208,-73.993147,40.736118,1,0.010210,0.0,2010-04-14 06:56:47+00:00,6,am,Wed
46019,2010-04-15 06:38:22+00:00,49.57,1,-73.980163,40.776280,-73.980179,40.776189,1,0.010208,0.0,2010-04-15 02:38:22+00:00,2,am,Thu

In [15]:
df['EDTdate'] = df['pickup_datetime'] - pd.Timedelta(hours=4)
df['Hour'] = df['EDTdate'].dt.hour
df['AMorPM'] = np.where(df['Hour'] < 12, 'am', 'pm')

In [17]:
df.head(6)

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dist_km,is_airport,EDTdate,Hour,AMorPM
0,2010-04-19 08:17:56+00:00,6.5,0,-73.992365,40.730521,-73.975499,40.744746,1,2.126312,0.0,2010-04-19 04:17:56+00:00,4,am
1,2010-04-17 15:43:53+00:00,6.9,0,-73.990078,40.740558,-73.974232,40.744114,1,1.392307,0.0,2010-04-17 11:43:53+00:00,11,am
2,2010-04-17 11:23:26+00:00,10.1,1,-73.994149,40.751118,-73.960064,40.766235,2,3.326763,0.0,2010-04-17 07:23:26+00:00,7,am
3,2010-04-11 21:25:03+00:00,8.9,0,-73.990485,40.756422,-73.971205,40.748192,1,1.864129,0.0,2010-04-11 17:25:03+00:00,17,pm
4,2010-04-17 02:19:01+00:00,19.7,1,-73.990976,40.734202,-73.905956,40.743115,1,7.231321,0.0,2010-04-16 22:19:01+00:00,22,pm
5,2010-04-22 08:39:47+00:00,8.1,0,-73.980481,40.748995,-73.983508,40.766459,1,1.958574,0.0,2010-04-22 04:39:47+00:00,4,am

In [18]:
df['Weekday'] = df['EDTdate'].dt.strftime("%a")